
:root{
    --theme-primary-rgb: 255,255,255;
    --theme-primary: rgb(var(--theme-primary-rgb));
    --theme-primary-faded: rgba(var(--theme-primary-rgb),0.95);
    --theme-primary-x-faded: rgba(var(--theme-primary-rgb),0.9);
    --theme-secondary-rgb: 0,0,0;
    --theme-secondary: rgb(var(--theme-secondary-rgb));
    --theme-text-on-primary: black;
    --theme-disabled-text-on-primary: grey;
    --theme-text-on-secondary: white;
    --theme-disabled-text-on-secondary: darken(white, 10%);
    --theme-accent: #cb2d3e;
    --theme-text-on-accent: white;
}



/*gradients*/


@mixin venice-blue{
    background: #085078;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #85D8CE, #085078);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #85D8CE, #085078); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


@mixin steel-gray{
    background: #1F1C2C;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #928DAB, #1F1C2C);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #928DAB, #1F1C2C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
}


//shadows
$shadow-key-umbra-opacity:      0.20 !default;
$shadow-key-penumbra-opacity:   0.14 !default;
$shadow-ambient-shadow-opacity: 0.12 !default;


//elevations

$elevation-2p: 0 2px 2px 0 rgba(0, 0, 0, $shadow-key-penumbra-opacity),
                0 3px 1px -2px rgba(0, 0, 0, $shadow-key-umbra-opacity),
                0 1px 5px 0 rgba(0, 0, 0, $shadow-ambient-shadow-opacity);

  

$elevation-3p: 0 3px 4px 0 rgba(0, 0, 0, $shadow-key-penumbra-opacity),
                0 3px 3px -2px rgba(0, 0, 0, $shadow-key-umbra-opacity),
                0 1px 8px 0 rgba(0, 0, 0, $shadow-ambient-shadow-opacity);


$elevation-4p: 0 4px 5px 0 rgba(0, 0, 0, $shadow-key-penumbra-opacity),
                0 1px 10px 0 rgba(0, 0, 0, $shadow-ambient-shadow-opacity),
                0 2px 4px -1px rgba(0, 0, 0, $shadow-key-umbra-opacity);

  

$elevation-6p: 0 6px 10px 0 rgba(0, 0, 0, $shadow-key-penumbra-opacity),
                0 1px 18px 0 rgba(0, 0, 0, $shadow-ambient-shadow-opacity),
                0 3px 5px -1px rgba(0, 0, 0, $shadow-key-umbra-opacity);

 
$elevation-8p: 0 8px 10px 1px rgba(0, 0, 0, $shadow-key-penumbra-opacity),
                0 3px 14px 2px rgba(0, 0, 0, $shadow-ambient-shadow-opacity),
                0 5px 5px -3px rgba(0, 0, 0, $shadow-key-umbra-opacity);


$elevation-12p: 0 12px 15px 1px rgba(0, 0, 0, $shadow-key-penumbra-opacity),
                0  5px 20px 3px rgba(0, 0, 0, $shadow-ambient-shadow-opacity),
                0  6px 8px -4px rgba(0, 0, 0, $shadow-key-umbra-opacity);

$elevation-16p: 0 16px 24px 2px rgba(0, 0, 0, $shadow-key-penumbra-opacity),
                0  6px 30px 5px rgba(0, 0, 0, $shadow-ambient-shadow-opacity),
                0  8px 10px -5px rgba(0, 0, 0, $shadow-key-umbra-opacity);


$elevation-24p: 0  9px 46px  8px rgba(0, 0, 0, $shadow-key-penumbra-opacity),
                0 11px 15px -7px rgba(0, 0, 0, $shadow-ambient-shadow-opacity),
                0 24px 38px  3px rgba(0, 0, 0, $shadow-key-umbra-opacity);



//size


$size-xxl: 4rem;
$size-xl: 3rem;
$size-l: 2.5rem;
$size-ml: 2rem;
$size-m: 1.7rem;
$size-sm: 1.5rem;
$size-s: 1.3rem;
$size-xs: 1.1rem;
$size-xxs: 0.8rem;

$font-size-xxl: 2.4rem;
$font-size-xl: 2.1rem;
$font-size-l: 1.8rem; 
$font-size-ml: 1.6rem;
$font-size-m: 1.4rem;
$font-size-sm:1.2rem;
$font-size-s: 1rem;
$font-size-xs: 0.8rem;




