


/*gradients*/


@mixin venice-blue{
    background: #085078;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #85D8CE, #085078);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #85D8CE, #085078); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


@mixin steel-gray{
    background: #1F1C2C;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #928DAB, #1F1C2C);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #928DAB, #1F1C2C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
}




$size-xxl: 4rem;
$size-xl: 3rem;
$size-l: 2.5rem;
$size-ml: 2rem;
$size-m: 1.7rem;
$size-sm: 1.5rem;
$size-s: 1.3rem;
$size-xs: 1.1rem;

$font-size-xxl: 2.4rem;
$font-size-xl: 2.1rem;
$font-size-l: 1.8rem; 
$font-size-ml: 1.6rem;
$font-size-m: 1.4rem;
$font-size-sm:1.2rem;
$font-size-s: 1rem;

$shadow-key-umbra-opacity:      0.20 !default;
$shadow-key-penumbra-opacity:   0.14 !default;
$shadow-ambient-shadow-opacity: 0.12 !default;

