


.text-action--contained{
    background-color: var(--theme-secondary);
    color: var(--theme-text-on-secondary);
    border:none;
    box-shadow:$elevation-2p;
    &:hover{
        background-color: lighten(black, 10%);
        box-shadow: $elevation-3p;
    }
    &:active{
        background-color: lighten(black, 20%);
        box-shadow: $elevation-4p;
        border-radius: 5%;
    }

}


.text-action--flat{
    background-color: var(--theme-primary);
    color: var(--theme-text-on-primary);
    border:none;
    &:hover{
        background-color: darken(white,10%);
    }
    &:hover{
        background-color: darken(white,20%);
        box-shadow: $elevation-2p;
        border-radius: 5%;
    }
}