


.wiki-article{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    min-height: 90vh;
    background-color: rgba(255,255,255,0.95);
    margin-top: 8vh;
    min-width: 450px;
    margin-left: 20vw;
    margin-right: 20vw;
    margin-bottom: 8vh;
    padding-top: 1px;
    padding-bottom: 5vh;
    box-shadow: $elevation-12p;
}