

.body{
    margin: 0 15vw;
    min-height: 90vh;
}

.body--article{
    //box-shadow: 
    overflow-y:scroll;
    min-height: 90vh;
    background-color: rgba(255,255,255,0.9);
    margin: 15vh 10vw 0vh;
}

.body__title{
    text-align: center;
}