

.body{
    margin: 0 15vw;
    min-height: 90vh;
    //prevent margin collapsing
    padding-top: 1px;
    padding-bottom: 1px;
    display: flex;
    justify-content: center;
}

.body--article{
    min-height: 90vh;
    background-color: rgba(255,255,255,0.95);
    margin-top: 8vh;
    margin-left: 10vh;
    margin-right: 10vh;
    margin-bottom: 8vh;
    padding-bottom: 5vh;
    box-shadow: $elevation-12p;
}


.body--noscroll{
    @extend .body;
    overflow-y: hidden;
}
.body__title{
    text-align: center;
}