

.body{
    margin: 0 15vw;
    min-height: 90vh;
    //prevent margin collapsing
    padding-top: 1px;
    padding-bottom: 1px;
    display: flex;
    justify-content: center;
}

.body--noscroll{
    @extend .body;
    overflow-y: hidden;
}
.body__title{
    text-align: center;
}