


.wiki-button--primary{
    background: $button-contained-color;
    color: $text-on-contained;
    border: none;
    box-shadow: $elevation-2p;
    i{
        font-size: $font-size-m;
    }
    width: 5rem;
    height: $size-ml;
    &:hover{
        background-color: lighten($button-contained-color, 10%);
        box-shadow: $elevation-4p;
    }
    &:active{
        background-color: lighten($button-contained-color, 20%);
        box-shadow: $elevation-2p;
        border-radius: 5%;
    }
}