


.wiki-button--primary{
    background: var(--theme-secondary);
    color: var(--theme-text-on-secondary);
    border: none;
    box-shadow: $elevation-2p;
    i{
        font-size: $font-size-m;
    }
    width: 5rem;
    height: $size-ml;
    &:hover{
        background-color: lighten(black, 10%);
        box-shadow: $elevation-4p;
    }
    &:active{
        background-color: lighten(black, 20%);
        box-shadow: $elevation-2p;
        border-radius: 5%;
    }
}