

.button{
    text-decoration: none;
    border: none;
    &:hover{
        cursor: pointer;
    }
}

//flat buttons

.button-flat{
    @extend .button;
    background: transparent;
    background-position: center;
    transition: background 0.8s;
}

.button-flat--primary{
    @extend .button-flat;
    color: var(--theme-text-on-primary);
    &:hover{
        background: var(--theme-primary-darkened) radial-gradient(circle, transparent 1%, var(--theme-primary-darkened) 1%) center/15000%;
    }
    &:active{
        background-color: var(--theme-primary-x-darkened);
        background-size: 100%;
        transition: background 0s;
    }
}


.button-flat--primary--disabled{
    @extend .button-flat--primary;
    color: var(--theme-disabled-text-on-primary);
}
.button-flat--secondary{
    @extend .button-flat;
    color: var(--theme-text-on-secondary);
    &:hover{
        background: var(--theme-secondary-lightened) radial-gradient(circle, transparent 1%, var(--theme-secondary-lightened) 1%) center/15000%;
    }
    &:active{
        background-color: var(--theme-secondary-x-lightened);
        background-size: 100%;
        transition: background 0s;
    }
    
}

.button-flat--secondary--disabled{
    @extend .button-flat--secondary;
    color: var(--theme-disabled-text-on-secondary);
}

.button-flat--primary--accent{
    @extend .button-flat--primary;
    color: var(--theme-accent);
    &:hover{
        background: var(--theme-primary-darkened) radial-gradient(circle, transparent 1%, var(--theme-primary-darkened) 1%) center/15000%;
    }
    &:active{
        background-color: var(--theme-accent-lightened);
        background-size: 100%;
        transition: background 0s;
    }
}

.button-flat--secondary--accent{
    @extend .button-flat--secondary;
    color: var(--theme-accent);
    &:hover{
        background: var(--theme-secondary-lightened) radial-gradient(circle, transparent 1%, var(--theme-secondary-lightened) 1%) center/15000%;
    }
    &:active{
        background-color: var(--theme-accent-lightened);
        background-size: 100%;
        transition: background 0s;
    }
}



//solid buttons

.button-solid{
    @extend .button;
    background: var(--theme-secondary);
    background-position: center;
    transition: background 0.8s;
}

.button-solid--primary{
    @extend .button-solid;
    background-color: var(--theme-secondary);
    color: var(--theme-text-on-secondary);
    &:hover{
        background: var(--theme-secondary-lightened) radial-gradient(circle, transparent 1%, var(--theme-secondary-lightened) 1%) center/15000%;
    }
    &:active{
        background-color: var(--theme-secondary-x-lightened);
        background-size: 100%;
        transition: background 0s;
    }
}
.button-solid--secondary{
    @extend .button-solid;
    background-color: var(--theme-primary);
    color: var(--theme-text-on-primary);
    &:hover{
        background: var(--theme-primary-darkened) radial-gradient(circle, transparent 1%, var(--theme-primary-darkened) 1%) center/15000%;
    }
    &:active{
        background-color: var(--theme-primary-x-darkened);
        background-size: 100%;
        transition: background 0s;
    }
}

.button-solid--accent{
    @extend .button-solid;
    background-color: var(--theme-accent);
    color: var(--theme-text-on-accent);
    &:hover{
        background: var(--theme-accent-lightened) radial-gradient(circle, transparent 1%, var(--theme-accent-lightened) 1%) center/15000%;
    }
    &:active{
        background-color: var(--theme-accent-x-lightened);
        background-size: 100%;
        transition: background 0s;
    }
}
