

.myWiki__editor {
    display: flex;
}


.editor-btn{
    background: linear-gradient(to left top, transparent 47.75%, red 43.5%, red 53.5%, transparent 52.25%);
}

.editor-btn--disabled{

}

.editor__actions{
    position: sticky;
    top:6rem;
    width: 100%;
    background-color: rgba(255,255,255,0.95);
    z-index: 2;
}