

.wiki-editor{
    display: flex;
    flex-direction: column;
}

.editor-btn--core{
    font-size: 32px;
    &:hover{
        color: lighten(black, 15%);
        text-shadow: 1px 1px 2px rgba(0,0,0,0.4);
    }
    &:active{
        color: lighten(black, 25%);
    }
}

.editor-btn{
    @extend .editor-btn--core;
    background: linear-gradient(to left top, transparent 47.75%, red 43.5%, red 53.5%, transparent 52.25%);
}
.editor-btn--inactive{
    @extend .editor-btn--core;
}



.editor__actions{
    position: sticky;
    top:6rem;
    width: 100%;
    background-color: rgba(255,255,255,0.95);
    z-index: 2;
}