

.wiki-editor{
    display: flex;
    flex-direction: column;
    padding-top: $size-sm;
}


.wiki-editor__header{

}

.wiki-editor__table{
    border: 1.5px solid black;
    table-layout: fixed;
}
.wiki-editor__table-row{
    border: 1px solid grey;
}
.wiki-editor__table-cell{
    border: 1px solid grey;
    width: 2%;
}

.wiki-editor__block-quote{
    border-left: 8px solid var(--theme-primary-darkened);
    background-color: var(--theme-primary-less-darkened);
    color: var(--theme-disabled-text-on-primary);
    padding-left: 1rem;
}
.wiki-editor__block-quote--first{
    @extend .wiki-editor__block-quote;
    padding-top: 1rem;
}
.wiki-editor__block-quote--last1{
    @extend .wiki-editor__block-quote;
    padding-bottom: 1rem;
}
.wiki-editor__color-picker__wrapper{
    position: absolute;
}

.editor-btn--core{
    font-size: 32px;
    max-width: 32px;
    &:hover{
        color: lighten(black, 15%);
        text-shadow: 1px 1px 2px rgba(0,0,0,0.4);
    }
    &:active{
        color: lighten(black, 25%);
    }
}

.editor-btn{
    @extend .editor-btn--core;
    background: linear-gradient(to left top, transparent 47.75%, red 43.5%, red 53.5%, transparent 52.25%);
}
.editor-btn--inactive{
    @extend .editor-btn--core;
}



.editor__actions{
    position: sticky;
    top:8.2rem;
    margin: 0 -1rem;
    background-color: var(--theme-primary-x-faded);
    z-index: 1;
}