

.wiki-header{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    height: 6vh;
    background: white;
    z-index: 2;
    box-shadow: $elevation-8p;
    
}

.wiki-header__actions{
    padding-top: 0.6rem;
}

.wiki-header__action{
    background: none;
    border: none;
    i{
        font-size: $font-size-xxl;
        color: black;
    }
}

.wiki-header__action--secondary{
    @extend .wiki-header__action;
    i{
        font-size: $font-size-xl;
        color: black;
    }
}


.wiki-header__search-bar{
    padding-top: 1vh;
    font-size: $font-size-s;
    input{
        line-height: 2;
        width: 15rem;
    }
    .axc-auto-complete__suggestion--selected{
        color: lighten(black, 15%);
        background: darken(white, 3%);
    }
    div{
        width: 15rem;
        line-height: 1.5;
        border-bottom: 0.5px solid grey;
    }
}
