

.wiki-header{
    flex-direction: column;
    position: fixed;
    display: flex;
    justify-content: space-between;
    height: 100vh;
    display: flex;
    background: white;
    z-index: 2;
    box-shadow: $elevation-12p;
}

.wiki-header__bottom-actions{
    display: flex;
    flex-direction: column;
}

.wiki-header__top-actions{
    display: flex;
    flex-direction: column;
}

.wiki-header__actions{
    position: relative;
    padding-top: 0.45rem;
}

.wiki-header__action{
    background: none;
    border: none;
    i{
        font-size: $font-size-xxl;
    }
}

.wiki-header__action--secondary{
    @extend .wiki-header__action;
    i{
        font-size: $font-size-xl;
    }
}


.wiki-header__search-bar{
    padding-top: 0.45rem;
    font-size: $font-size-s;
    input{
        border: none;
        line-height: 1.5;
        width: 15rem;
        background-position: center;
        transition: background 0.8s;
    }
    input:hover{
        background: darken(white,3%) radial-gradient(circle, transparent 1%, darken(white,3%) 1%) center/15000%;
    }
    input:active{
        background-color: darken(white,10%);
        background-size: 100%;
        transition: background 0s;
    }
    .axc-auto-complete__suggestions{

        box-shadow: $elevation-4p;
        border: none;
    }
    .axc-auto-complete__suggestion{
        border-top: none!important;
        border-left: none!important;
        border-right: none!important;
        border-bottom: 0.25px solid grey;
    }
    .axc-auto-complete__suggestion--selected{
        border-top: none!important;
        border-left: none!important;
        border-right: none!important;
        font-weight: normal !important;
        background: darken(white, 5%);
    }
    div{
        width: 15rem;
        line-height: 1.5;
        border-bottom: 0.5px solid grey;
    }
}


.wiki-header__home-btn{
    height:$font-size-xl;
    width: $font-size-xl;
    margin: 0.45rem;
}

.wiki-header__home-btn__image {
    height: 100%;
    width: 100%;
    &:hover{
        border-radius: 50%;
        box-shadow: $elevation-2p;
    }
    &:active{
        border-radius: 50%;
        box-shadow: $elevation-4p;
    }
}



