

.wiki-header{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    height: 5rem;
    background: white;
    z-index: 2;
    padding: 0 1rem;
    box-shadow: $elevation-12p;
}

.wiki-header__actions{
    position: relative;
    padding-top: calc(2.5rem - 17px);
}

.wiki-header__action{
    background: none;
    border: none;
    i{
        font-size: $font-size-xxl;
        color: black;
    }
}

.wiki-header__action--secondary{
    @extend .wiki-header__action;
    i{
        font-size: $font-size-xl;
        color: black;
    }
}


.wiki-header__search-bar{
    padding-top: calc(2.5rem - 16px);
    font-size: $font-size-s;
    input{
        line-height: 2;
        width: 15rem;
    }
    .axc-auto-complete__suggestion--selected{
        color: lighten(black, 15%);
        background: darken(white, 3%);
    }
    div{
        width: 15rem;
        line-height: 1.5;
        border-bottom: 0.5px solid grey;
    }
}


.wiki-header__home-btn{
    height: $size-xl;
    width: $size-xl;
    margin: 1rem;
}

.wiki-header__home-btn__image {
    height: 100%;
    width: 100%;
    &:hover{
        border-radius: 50%;
        box-shadow: $elevation-2p;
    }
    &:active{
        border-radius: 50%;
        box-shadow: $elevation-4p;
    }
}


