
.modal{
    width: 45vw;
    margin: 0 auto;
    margin-top: 20vh;
    background-color: var(--theme-primary);
    color: var(--theme-text-on-primary);
    padding: 3rem 2rem;
    box-shadow: $elevation-16p;
    border-radius: 15px;
    animation: slideUp;
    animation-duration: 0.5s;
    animation-timing-function: easeOutCubic;
}



.create-wiki__modal{
    height: 30vh;
    width: 25vw;
    margin: auto;
    background-color:var(--theme-primary-x-faded);
    margin-top: 35vh;
    padding: $size-l $size-m;
    box-shadow: $elevation-16p;
}

.axc-modal__body{
    margin: 15vh auto;
}


.axc-modal__overlay{
    position: fixed;
    z-index: 500;
}