

.create-wiki__modal{
    height: 30vh;
    width: 25vw;
    margin: auto;
    background-color:var(--theme-primary-x-faded);
    margin-top: 35vh;
    padding: $size-l $size-m;
    box-shadow: $elevation-16p;
}

.axc-modal__body{
    margin: 15vh auto;
}


.axc-modal__overlay{
    position: fixed;
    z-index: 500;
}