
.notification-list{
    position: absolute;
    display: flex;
    background: rgba(255,255,255,0.0);
    flex-direction: column-reverse;
    width: 15vw;
    bottom: 2rem;
    right: 2rem;
    width: max-content;
    max-width: 20vw;
    animation: fadeIn;
    animation-duration: 0.4s;
    padding: 0.4rem;
    border-radius: 10px;
}

.notification{
    background: var(--theme-primary);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    word-break: break-all;
    margin: calc(#{$size-xxs} / 2) 0;
    border-radius: 5px;
    padding: calc(#{$size-xxs} / 4);
    box-shadow: $elevation-2p;
    &:hover{
        box-shadow: $elevation-4p;
    }
    &:active{
        box-shadow: $elevation-8p;
    }
  
}
.notification__contents{
    flex-wrap: wrap;
    word-break: break-word;
    text-align: start;
    flex-grow: 2;
}

.notification__title {
    font-weight: bold;
    padding: $size-margin-small 0;
}

.notification__actions {
    align-self: center;
}

.notification__action{
    @extend .text-action--flat;
    background-color: transparent;

}

.notification-container{
}


.notifications-button{
  position: relative;
    i{
        font-size: $size-l;
    }
    &.button-flat--primary{
        .notifications-button__number {
            position: absolute;
            bottom: 15px;
            left: calc(50% - 3.7px);
            /* align-content: center; */
            text-align: center;
            color: var(--theme-text-on-secondary);
        }
    }
    &.button-flat--primary--accent{
        .notifications-button__number {
            position: absolute;
            bottom: 15px;
            left: calc(50% - 3.7px);
            text-align: center;
            color: var(--theme-text-on-accent);
        }
    }
}


.notification__icon{
    align-self: center;
    padding: 0 $size-margin-medium;
}

.recent-notification{
    animation: bounceInUp 0.62s cubic-bezier(.36,.07,.19,.97) both;
}

.removed-notification{
    animation: bounceOutDown 0.4s ease-in !important;
}