
.axc-prompt__modal{
    width: fit-content;
    margin: 10vh auto;
    background-color: var(--theme-primary-faded);
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: $size-m
}

.axc-prompt__title{
    font-size: $font-size-m;
    padding-bottom: 2rem;
}
.axc-prompt__options{
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
}