


.settings-form{
    position: absolute;
    top: 3rem;
    left: -8rem;
    width: calc(12rem - 2px);
    background-color: white;
    .form-field{
        border-bottom: 0.5px solid grey;
        padding: 0 0.4rem;
    }
    .form-action{
        border: none;
        height: $size-xs;
        width: auto;
        border-radius: 5px;
    }
    .form-action--primary{
        @extend .form-action;
        background-color: black;
        color: white;
        &:hover{
            background-color: lighten( black,20%);
        }
        &:active{
            background-color: lighten( black,  25%);
        }

    }
    .form-action--secondary{
        @extend .form-action;
        background-color: transparent;
        &:hover{
            background-color: darken( white,10%);
        }
        &:active{
            background-color: darken( white,  15%);
        }
    }
    .form-actions{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 0.4rem;
    }
}

