

.tag{
    background: lighten(black, 10%);
    border-radius: 5%;
}

.tag-action,.tag-input{
    background: transparent;
    border: none;
    color: white;
}

.tag-action{
    border-left: 2px solid white;
    font-size: $font-size-sm;
}

.tag-input{
    min-width: 3rem;
    height: $font-size-s;
}