

.tag{
    background: lighten(black, 10%);
    border-radius: 5%;
    display: inline;
}

.tag-action,.tag-input{
    background: transparent;
    border: none;
    color: white;

}

.tag-action{
    border-left: 2px solid white;
    i{
        font-size: $font-size-xs;
    }
    height: $size-xs;
    &:hover{
        background: rgba(255,255,255,0.15);
    }
    &:active{
        background: rgba(255,255,255,0.25);
    }
}

.tag-input{
    min-width: 3rem;
    line-height: $size-xs;
    &:hover{
        background: rgba(255,255,255,0.05);
    }
    &:active{
        background: rgba(255,255,255,0.15);
    }
}

.tag-form__action{
    background: transparent;
    border: none;
}