


.text--primary{
    color:var(--theme-primary);
}

.text--secondary{
    color:var(--theme-secondary);
}

.text--accent{
    color:var(--theme-accent);
}

.text--error{
    color: var(--theme-error)
}