
.wiki-article{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 90vh;
    background-color: rgba(255,255,255,0.95);
    margin-top: 5vh;
    width: 100%;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-bottom: 5vh;
    box-shadow: $elevation-12p;
}

.wiki-article__header{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    position: sticky;
    top: 0rem;
    z-index: 1;
    background-color: var(--theme-primary);
    flex-direction: column;
    padding-left: $font-size-sm;
    padding-right: $font-size-sm;
    border-bottom: 2px solid black;
    flex-wrap: wrap;
    word-break: break-word;
}

.wiki-article__header__section{
    display: flex;
    justify-content: space-between;
    margin: calc(#{$size-xs} / 2) 0;
}

.wiki-article__actions{
    a, button{
        background: transparent;
        border: none;
        color:black;
        :hover{
            color:rgb(85, 85, 85);
        }
        i{
            size: $font-size-m;
        }
    }

}
.wiki-article__title{
    margin-bottom: 0.5rem;
}

.wiki-article__body{
    height: 80vh;
    overflow-y: scroll;
    padding-left:$size-l;
    padding-right: $size-l;
    overflow-x: hidden;
    
/* width */
&::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  &::-webkit-scrollbar-track {
    background:var(--theme-primary-less-darkened);
    border-radius: 5px;
  }
   
  /* Handle */
  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: var(--theme-secondary-x-lightened); 
  }
  
  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: var(--theme-secondary-lightened); 
  }

}



.wiki-article__body--editor{
    @extend .wiki-article__body;
}

.wiki-article__image-input{
    display: inline;
}

.wiki-article__header-input{
    @extend h1;
    background: none;
    border-bottom:1px solid grey;
}



.wiki-article__searchbar{
    display: flex;
    justify-content: center;
}