
.wiki-article__header{
    display: flex;
    flex-direction: column;
    margin-left: $font-size-sm;
    margin-right: $font-size-sm;
    margin-bottom: $font-size-xxl;
    border-bottom: 2px solid black;
}

.wiki-article__header__section{
    display: flex;
    justify-content: space-between;
}

.wiki-article__actions{
    a, button{
        background: transparent;
        border: none;
        color:black;
        :hover{
            color:rgb(85, 85, 85);
        }
        i{
            size: $font-size-m;
        }
    }

}
.wiki-article__title{
    margin-bottom: 0.5rem;
}

.wiki-article__body{
    padding-left: 1rem;
    padding-right: 1rem;
}
.wiki-article__body--editor{
    @extend .wiki-article__body;
}

.wiki-article__image-input{
    display: inline;
}

.wiki-article__header-input{
    @extend h1;
    background: none;
    border:1px solid grey;
}



