

.wiki-list{
    margin: 20vh 0;
    background-color: rgba(255,255,255,0.95);
    color: black;
    padding: $size-l $size-m;
    width: 25vw;
    min-width: 10rem;
    height: fit-content;
    box-shadow: $elevation-8p;
    animation-name: slideUp;
    animation-duration: 0.5s;
}


.wiki-item{
    list-style: none;
    display:flex;
    justify-content: space-between;
    padding: calc(#{$font-size-xs} / 1.5) 0;
    margin: calc(#{$font-size-xs}/ 1.5) 0;
    border-bottom: 0.5px solid grey;
}

.wiki-item__text{
    display: flex;
    flex-direction:column;
}

.wiki-item__title{
    color: black;
    font-size: $font-size-m;
    padding-bottom: $size-s;
}

.wiki-item__description{
    color: grey;
}

.wiki-item__actions{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    button{
        height: $size-sm;
    }
}



.wiki-list__actions{
    padding-top: $size-sm;
    display: flex;
    justify-content: space-around
}


