

.wiki-list{
    transition-property: border-bottom-right-radius;
    transition-duration: 0.4s;
    background-color: rgba(255, 255, 255, 0.95);
    color: black;
    padding: 0rem 1.7rem;
    min-width: 10rem;
    height: 100vh;
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
    animation-name: slideUp;
    animation-duration: 0.7s;
    animation-timing-function: ease-out;
    overflow: hidden;
}


.wiki-item{
    list-style: none;
    display:flex;
    justify-content: space-between;
    padding: calc(#{$font-size-xs} / 1.5) 0;
    margin: calc(#{$font-size-xs}/ 1.5) 0;
    border-bottom: 0.5px solid grey;
}

.wiki-item__text{
    display: flex;
    flex-direction:column;
}

.wiki-item__title{
    color: black;
    font-size: $font-size-m;
    padding-bottom: $size-s;
}

.wiki-item__description{
    color: grey;
}

.wiki-item__actions{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    button{
        height: $size-sm;
    }
}



.wiki-list__actions{
    padding-top: $size-sm;
    display: flex;
    justify-content: center;
}



.wiki-list__action--primary{
    width: 5rem;
    height: $size-ml;
    box-shadow: $elevation-2p;

    i{
        font-size: $font-size-m;
    }

    &:hover{
        box-shadow: $elevation-4p;
    }
    
    &:active{
        box-shadow: $elevation-2p;
        border-radius: 5%;
    }
}

.wiki-list__action--secondary{
    width: 5rem;
    height: $size-ml;
    i{
        font-size: $font-size-m;
    }
    &:active{
        border-radius: 5%;
    }
}